.container {
  width: 100px;
}

.wrapper {
  flex-direction: column;
  display: flex;
  padding-left: 5px;
  background-color: white;
  position: fixed;
  z-index: 100;
  top: 60px;
  left: 0;
  bottom: 0;
  width: inherit;
  align-items: flex-start;
}
.element {
  text-align: center;
  width: 80px;
  height: 80px;
  transition: 0.1s linear;
  padding: 6px;
  border-radius: 15px;
  color: black;
  &_content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  &_img {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 6px;
  }
  &_title {
    font-size: 11px;
    font-weight: 300;
  }
  &:hover {
    background-color: rgba(128, 128, 128, 0.341);
  }
}
.active {
  background-color: rgba(128, 128, 128, 0.341);
}
