.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding-left: 100px;
}
@media (max-width: 1000px) {
  .wrapper {
    padding-left: 0px;
  }
}
